@tailwind base;
/* body{
  overflow-x: hidden;
} */
.canela {
  font-family: theme('fontFamily.canela');
}
/* .dropdown{
  animation: slide-down .5s ease-in;
  transition: all 1s ease-in;
  overflow: hidden;
}
@keyframes slide-down {
  0% { opacity: 0; transform: translateY(-100%); }   
100% { opacity: 1; transform: translateY(0); }
} */

.SVGPATH {
  animation: shift 1s linear infinite;
}

  @keyframes shift {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-20px);
    }
  }
  @media (prefers-reduced-motion: reduce) {
    .SVGLINE {
      animation: none;
    }
  }
  @keyframes slideInFromTop {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  .ARTISTCARD{
    animation: 1s ease 0s 1 slideInFromTop;

  }
  .parent{
    overflow:hidden;

  }

@tailwind components;
@tailwind utilities;
